# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastF1 Cache
cache/
f1_cache/

# Local Data
# calibration_data.csv (Included in repo to speed up initial runs)
*.log

# IDEs
.vscode/
.idea/
.DS_Store
